.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background-color: #020617;
}

.logo {
  font-weight: bold;
}

.menu-button {
  font-size: 24px;
  background: none;
  border: none;
  color: white;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #020617;
}

.menu a {
  padding: 16px 20px;
  color: white;
  text-decoration: none;
  border-top: 1px solid #1e293b;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row;
    position: static;
  }

  .menu-button {
    display: none;
  }

  .menu a {
    border: none;
  }
}


@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  nav {
    display: flex !important;
    position: static;
    flex-direction: row;
    gap: 24px;
  }
}

nav {
  transition: max-height 0.3s ease;
}
