* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contact {
  max-width: 600px;
  margin: 60px auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-input,
.contact-textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
}

.contact-button {
  padding: 12px;
  border-radius: 8px;
  background: black;
  color: white;
  cursor: pointer
}

@media (min-width: 768px) {
  form {
    max-width: 600px;
    margin: auto;
  }
}
